* {
    margin: 0px;
}

/* body related styles */
body {
    background-color: #F5F8FF
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter {

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

/* all button related style */
.btn-primary {
    font-size: 16;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;



}

button:hover {
    background-color: burlywood;
    cursor: pointer;
    color: black
}

/* nav related styles */
nav {
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 0px;


}

nav ul li {
    list-style: none;
    margin-top: 50px;



}

nav li a {
    text-decoration: none;

}

.nav-title {
    font-size: 34px;
    color: #4E47FF;
    font-weight: 900;

}



/* banner related styles */
.banner {
    margin: 150px 260px 150px 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-title {

    font-size: 65px;
    margin-bottom: 0px;
    font-weight: bold;


}

.banner-btn {
    margin-top: 37px;
    margin-bottom: 150px;
}

/* action section related styles */
.action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 140px 150px 115px 150px;
    gap: 220px;
}


.action-title {
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 20px;

}

.action-subtitle {
    font-size: 24;
    font-weight: normal;
    color: rgba(37, 36, 50, 0.5);
    max-width: 400px;
    margin-bottom: 20px;
}

img {
    border-radius: 48px;
}

/* productive users related styles */
.productive-users-section {
    text-align: center;
    background: rgba(78, 71, 255, 0.1);
    margin: 115px 150px 130px 150px;
    border-radius: 24px;
    padding: 50px 140px 50px 140px;
}

.users-title {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 40px;
}

.users-info {
    display: flex;
    justify-content: center;
    gap: 150px;


}



.users-subtitle {

    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;

}

/* rating related styles */
.rating-section {
    margin: 0px 150px 135px;


}

.rating-main-title {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 50px;
}

.rating {
    display: flex;
    justify-content: center;
    gap: 20px;
}




.rating-box {
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 24px 24px;
}


.stars {
    margin-bottom: 24px;
}

.rating-title {
    margin-bottom: 8px;
}

.reviewer {
    display: flex;
    margin-top: 24px;
    gap: 10px;
}

.name {
    font-weight: bold;
    color: #757575;
}

.date {
    color: #B3B3B3;
}

/* contact section related styles */
.contact-section {
    display: flex;
    gap: 115px;

    align-items: center;
    justify-content: space-between;
    margin: 0px 150px 80px;
    /* width: 1140px; */
}

.contact-title {

    font-weight: bold;
    font-size: 97px;
}

label {
    font-size: 18px;

}

input {
    padding: 20px 270px 20px 32px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
}

textarea {
    padding: 20px 257px 85px 32px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
}



.contact-btn {
    background-color: #4E47FF;
    padding: 20px 200px;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
}

/* footer related styles */
footer {
    background-color: #FFFFFF;
    padding: 105px 450px;


}

.footer-website-name {
    margin-bottom: 8px;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    color: #4E47FF;
}

.footer-subtitle {
    color: #8987A1;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    margin-bottom: 20px;
}


footer ul {
    display: flex;
    justify-content: center;
    gap: 48px;

}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: #8987A1;

}